#root {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 1rem;
}


#side-bar {
  align-self: end;
  height: 100%;
}

#displayer {
  display: grid;
  place-content: center;
  padding: 100px 20px;
  text-align: center;
  background-color: var(--primary-background-gray);
}

#randword__displayer {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 25px;
  margin: 20px 0;

  /* user-select: none; */
}

#play__time button {
  border-radius: 3px;
  padding: 5px 10px;
  border: none;
  transition: all 0.4s;
  background-color: var(--accent-color);
}

#play__time button:hover {
  background-color: var(--accent-color-light);
}

#player__v__bot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#bot__ {
  background-color: #000108;
  font-size: 0.8rem;
}

#botheader {
  display: flex;
  align-items: center;
  background-color: rgb(0, 37, 98);
  padding: 5px 10px;
}

#botheader h3 {
  text-align: center;
  margin-left: 60px;
}

#botbody p {
  line-height: 25px;
}

#player__ {
  background-color: #00293e;
}

#playerheader {
  display: flex;
  align-items: center;
  background-color: rgb(0, 98, 82);
  padding: 5px 10px;
}

#playerheader h3 {
  text-align: center;
  margin-left: 100px;
}

#playerbody textarea {
  width: 100%;
  background-color: inherit;
  border: none;
  color: var(--primary-text-color);
  padding: 10px;
  line-height: 25px;
}

#finish__btn {
  width: 100%;
  padding: 10px 0;

  background-color: var(--accent-color);
  transition: 0.4s;
}

#finish__btn:hover {
  background-color: var(--accent-color-light);
}

#finish__btn:disabled {
  background-color: rgb(0, 26, 31);
  color: rgb(0, 98, 154);
}


#status-box.playerError {
  width: auto;
  height: auto;

  overflow: auto;
  transform: scale(1.1);
}

#status-box span {
  font-size: 1.2rem;
  font-weight: 600;
}

#slider-box input[type="range"] {
  margin-block: 10px;
  width: 80%;
}

#finishedchallenge__con {
  display: none;
}

#finishedchallenge__con.playerFinished {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: grid;
  place-content: center;
  z-index: 2;
  background-color: #00010889;
}

#stats {
  padding: 20px 40px;
  text-align: center;
  background-color: rgb(46, 46, 46);
  box-shadow: 5px 5px 30px rgba(18, 18, 18, 0.455);
  border-radius: 10px;
  overflow: hidden;

  min-width: 200px;
}

#statsUserimg {
  padding: 20px;
}

#statsUserimg img {
  margin-inline: auto;
}

#stats__ > p {
  margin: 10px 0;
}
