#typimonInfo {
  animation: typimonTypingEffect 0.4s linear alternate infinite;
}

@keyframes typimonTypingEffect {
  0% {
    border-right: 2px solid rgb(211, 211, 211);
  }
  100% {
    border-right: 2px solid transparent;
  }
}

#typimon {
  font-size: 5rem;
  background: -webkit-linear-gradient(45deg, #eee, purple, cyan);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  #typimon {
    font-size: 3rem;
  }
}

#challenge__word {
  background: url("/images/bg.svg") no-repeat center;
  background-size: cover;
}
